<h2>Привет, {{subscriber.name}}!!!</h2>
Новые публикации пользователей:<br />
<ul class='post-list'>
  {{#each posts}}
    <li>
      <a href='http://localhost:3000/api/posts/{{this.id}}'>{{this.id}}
        {{this.postType}}</a>
    </li>
  {{/each}}
</ul>